<!DOCTYPE html>
<html lang='en'>
<head>
	<title>Flask Weather App</title>	
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- google font -->
  <link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Roboto'>
  
  <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.4/themes/cupertino/jquery-ui.css">
	<link rel="stylesheet" 
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
  integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  
  <script
			  src="https://code.jquery.com/jquery-1.12.4.min.js"
			  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
			  crossorigin="anonymous"></script>
	<script 
				src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"
			  integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw="
			  crossorigin="anonymous"></script>	
	<script 
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
  	integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" 
  	crossorigin="anonymous"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
     <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  
  <script>

  	// configuration of jQuery UI's Autocomplete
	  $(document).ready(function() {
			$('#q').autocomplete({
				source: function(request, response) {
					$.getJSON("{{ url_for('search') }}", { city: request.term }, function(data) {
						response(data.json_data);
					});
				},
				delay: 500,
				minLength: 2,
				select: function(event, ui) {
					event.preventDefault();
					$(this).val(ui.item.label);
					$('#q').val(ui.item.city);
					$('#code').val(ui.item.country_code);
				}
			});
		})

  </script>
</head>

<body>

	<div class='container'>

		<nav class='navbar navbar-default' role='navigation'>
			<div class='container-fluid'>
				<div class='navbar-header'>
					<a class='navbar-brand' href="{{ url_for('index') }}">flask-weather-app</a>
				</div>
				<form class='navbar-form navbar-right'action="{{ url_for('show_weather') }}" role='search' method=post>
					<div class='form-group'>
						<label for='city'>City</label>
						<input type='text' id='q' class='form-control' name='city' required >
					</div>
					<div class='form-group'>
						<label for='country_code'>Country code</label>
						<input type='text' id='code' class='form-control' name='country_code' required>
					</div>
					<div class='form-group'>
						<input type='submit' class='btn btn-default' value='Search'>
					</div>
				</form>
			</div>
		</nav>
	</div>

	{% if error %}<div class='container alert alert-danger alert-dismissible' role='alert'><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>Error: </strong>{{ error }}</div>{% endif %}

	{% block body %}
		<div class='container' id='main'>
			{% block content %}{% endblock %}
		</div>
	{% endblock %}

</body>